@import './vars.scss';

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../../public/fonts/proximanova-bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../../public/fonts/proximanova-regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../../public/fonts/proximanova-light.otf');
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Proxima Nova';
}

body,
#root {
  height: 1px;
  min-height: 100%;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
  font-size: inherit;
}
